<form #nuevoPost="ngForm" (ngSubmit)="onSubmit(nuevoPost.value,'/blog')">
    <h2>RELLENA LOS CAMPOS PARA AGREGAR UN NUEVO POST</h2>
    <div id="titulo">
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Escribe aquí el título de tu post" ngModel>
    </div>
    <div id="datosFormulario">
        <div>
            <label>Autor</label>
            <input type="text" name="autor" placeholder="Este eres tú" ngModel>
        </div>
        <div>
            <label>Fecha</label>
            <input type="text" name="fecha" placeholder="El día de hoy" ngModel>
        </div>
        <div>
            <label>Categoría</label>
            <input type="text" name="categoria" placeholder="¿De qué quieres hablar?" ngModel>
        </div>
    </div>

    <div>
        <label>Post</label>
        <textarea name="texto" placeholder="Escribe aquí tu post" ngModel></textarea>
    </div>

    <div>
        <label>Imagen</label>
        <input type="text" name="imagen" placeholder="Si además quieres incluir una imagen este es el lugar" ngModel>
    </div>


    <input id="boton" type="submit" value="Enviar Nuevo POST">
</form>

<div *ngIf="guardando" id="guardado">
    <img src="../../../assets/pecera6.gif">
    <h2 class="animate__animated animate__infinite animate__tada">GUARDANDO</h2>
</div>